body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

* {
  box-sizing: border-box;
}

ul,ol {
  margin: 0;
  padding: 0;

  li {
    margin: 0;
    padding: 0;
    display: block;
  }
}

main {
  display: block;
}

.inner {
  max-width: 1090px;
  margin: 0 auto;
  padding: 5px;
}